@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-mid: 17px;
  --font-size-xs: 12px;
  --font-size-smi: 13px;
  --font-size-11xl: 30px;
  --font-size-mini: 15px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-silver: #b5b5b5;
  --color-mediumblue: #0c21c1;
  --color-dimgray: #4d4d4d;
  --color-midnightblue: #000842;
  --color-darkgray: #999;

  /* Border radiuses */
  --br-mini: 15px;
  --br-13xl: 32px;
}
