.app_sections {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Display 2 columns per row */
  gap: 80px; /* Add some spacing between the boards */
  align-items: center;
  justify-content: space-between; /* Horizontal spacing between columns */
  align-content: space-between;
  margin-left: 80px;
  height: fit-content;
  width: fit-content;
}
.section {
  /* Add a border and some padding to the board */

  border: 2px solid #000; /* You can adjust the color and border width */
  padding: 16px; /* Add some padding to create space between the border and board content */
}
.app_nav {
  height: 50px;
}
.sectiontext {
  font-weight: bold;
  font-size: 22px;
  margin-top: -20px;
}
